:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}
body {
    font-feature-settings: "cv03", "cv04", "cv11";
}
.small-dropdown .dropdown-item {
    padding: 0.25rem 1.5rem;
}
.small-dropdown .dropdown-menu{
    max-height: 60vh;
    overflow-y: auto;
}
.small-dropdown .flag {
    width: 20px;
    height: 15px;
    display: inline-block;
}
.navbar .nav-control {
    height: 40px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 14px;
    border-radius: 0.5rem;
    background-position: right 0.75rem center;
}
.responsive-logo {
    height: 32px;
    width: auto;
}
@media (max-width: 576px) {
    .responsive-logo {
        height: 24px;
    }
}